@use "../abstract/mixin" as m;


@media screen and (max-width: 1200px) {
    #learn {
        overflow : none;
        justify-content: center;
        align-items: center;
        .img{
           position: static;
           margin-top:0;
        }
    }
    .card_content{
        padding: 20px;
     }
    .getin .btn{
        display: inline-block;
        padding: 0.5rem;
    }
}
@media screen and (max-width: 1100px) {
    footer{
        padding-top: 200px;
        font-size: 0.8em;
    }
    .foot_bar{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 900px) {
    #learn {
        padding: 50px 0;
        justify-content: center;
        .img{
            margin-right: 30px;
    }
    }
    .fa-bars{
        display: block;
        font-size: 2em;
        border: 1px solid grey;
        padding: 10px;
        color: gray;
        margin: 30px;

    }
    .items{
        display: none;
    }
    #nav_bar:hover .items{
        display: block;
        position: absolute;
        text-align: center;
        border-radius: 10px;
        top: 2rem;
        right:50px;
        background-color: #f5cdc4;
        color: black;
        z-index: 1;
        margin-top: 50px;
    }
    .items li{
        padding: 0.5rem;
    }
    .left{
        height: 104vh;
    }
    .deux{
        height: 50vh;
    }
    .trois{
        height: 50vh;
    }
    .text .one{
        padding: 30%;
    }
    .items2 {
       font-size: 0.8em;
    }
    // .getin{
    //     margin-top: 0px;
    // }
    
}

@media screen and (max-width: 800px) {
    footer{
        padding-top: 250px;
    }
   .items2 a{
        display: flex;
        justify-content: flex-end;
        padding: 0 0.5rem;
    }
    .getin{
        // margin-top:-30px;
        .paraf p{
            font-size: 0.6em;
        }
        .btn{
            font-size: 0.8em;
        }
    }
}