#nav_bar{
    display: flex;
    justify-content: space-between;
}

.items{
    display: flex;
    padding: 2rem 0;
}
.items a{
    padding: 0 1.5rem;
    color: grey;
}
.items a:hover{
    color: black;
}
.fa-bars{
    display: none;
}

#nav-bar .picture{
    background-image: url(../../image/img/Logo.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
}

