* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 0 4rem;
}

@font-face {
  font-family: "latoregular";
  src: url(../font/Lato-Regular.ttf);
}
body {
  font-family: "latoregular";
}

#nav_bar {
  display: flex;
  justify-content: space-between;
}
#nav_bar img {
  width: 20%;
  height: 10%;
}

.items {
  display: flex;
  padding: 2rem 0;
}

.items a {
  padding: 0 1.5rem;
  color: grey;
}

.items a:hover {
  color: black;
}

.fa-bars {
  display: none;
}

#learn {
  background-color: #e7816b;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray;
  border: 1px solid #ebac9e;
  position: relative;
  display: flex;
  margin: auto;
}
#learn .img {
  background-image: url(../image/img/mockup-travel-iphone.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 40%;
  margin-top: 100px;
}

.content_learn {
  width: 70%;
  align-content: center;
  padding: 3rem;
}
.content_learn span {
  display: block;
  line-height: 1.2;
}
.content_learn p {
  font-size: 0.8em;
  margin-bottom: 20px;
}
.content_learn h1 {
  margin-bottom: 1rem;
}

#services {
  display: flex;
}
#services article {
  display: flex;
  margin: 1rem 0.5rem;
}
#services .img {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

#services div {
  width: 100%;
}

.text {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-shadow: 0 0 10px black;
}
.text i {
  color: #e7816b;
}
.text .titleserv {
  font-size: 1.2em;
  text-transform: uppercase;
}

.one {
  padding: 30% 10px;
}

.two {
  padding: 10% 10px;
}

.left {
  background-image: url(../image/img/homme-assis-batiment.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  width: 100%;
  height: 67vh;
}

.deux {
  background-image: url(../image/img/passport.jpg);
  height: 32vh;
}

.trois {
  background-image: url(../image/img/montgolfiere.jpg);
  height: 32vh;
}

#features {
  position: absolute;
  z-index: 1;
}

#features h2 {
  text-align: end;
  padding-right: 4.5rem;
  margin-bottom: 50px;
  padding-top: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card_content {
  padding: 0 5rem;
  text-align: center;
}

.card_content i {
  color: #e7816b;
  font-size: 2em;
  padding-bottom: 1rem;
}

.card_content h3 {
  padding-bottom: 1rem;
}

.card_content p {
  font-size: 0.7em;
  padding-bottom: 1rem;
}

#wave {
  background-image: url(../image/img/wave.svg);
  height: 400px;
  position: relative;
  z-index: -1;
}

.getin {
  background-color: #e7816b;
  color: white;
  width: 80%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 3px gray;
  border: 1px solid #ebac9e;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 7%;
  margin-bottom: 100px;
}
.getin p {
  font-size: 0.8em;
}
.getin span {
  display: block;
}

footer {
  color: grey;
  background-color: black;
  padding-top: 300px;
  position: absolute;
  z-index: -2;
  width: 90%;
}

.menu_dropdown img {
  width: 20%;
}

.title {
  color: white;
}

.items2 ul {
  display: flex;
  justify-content: flex-end;
}
.items2 ul a {
  padding: 0 1.5rem;
  color: grey;
}
.items2 ul a:hover {
  color: white;
}

.foot_bar {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}

.link a {
  color: white;
  margin: 0 1rem;
}

/*# sourceMappingURL=style.css.map */
